<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Your Portal/ArcGIS Online for Organizations account -->
    <add key="PortalUser" value="" />

    <!-- The password to your Portal/ArcGIS Online for Organizations account -->
    <add key="PortalPassword" value="" />

    <!-- The HTTP referer string you wish to send to Portal/ArcGIS Online -->
    <add key="ClientReferer" value="qwerty" />

    <!-- www.arcgis.com for AGOL; there is no need to include http:// or https:// -->
    <add key="PortalDomainName" value="www.arcgis.com" />

    <!-- Set to true if SSL should always be used for requests, not just when obtaining tokens-->
    <add key="AlwaysUseSSL" value="false" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>